<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Timestamp Microservice</title>
    <meta name="description" content="Timestamp Microservice">
</head>
<body style="font-family: Helvetica, sans-serif; font-size: 20px">
	<main>
		<header><h1>File Metadata Microservice</h1></header>
		<section>
			<h2>User Stories</h2>
			<ol>
				<li>I can submit a FormData object that includes a file upload.</li>
				<li>When I submit something, I will receive the file size in bytes within the JSON response</li>
			</ol>
		</section>
		<section>
			<h2>Choose a file and click submit.</h2>
			<label for="fileUp">Upload</label>
			<input type="file" id="fileUp">
			<button id="submit">Submit</button>
		</section>
		<footer>App made by <a href="https://kennethlumalicay.github.io/portfolio/" style="text-decoration: none">Kenneth Lu Malicay</a></footer>
	</main>
</body>
</html>